<h1>New Macro Entry</h1>

<%= form_with model: @macro_entry, local: true do |f| %>

  <div>
    <%= required_label(f, :protein) %>
    <%= f.number_field :protein, required: true %>
  </div>

  <div>
    <%= required_label(f,:fat ) %>
    <%= f.number_field :fat, required: true %>
  </div>

  <div>
    <%= required_label(f,:carbs ) %>
    <%= f.number_field :carbs, required: true %>
  </div>

  <div>
    <%= required_label(f,:step_count) %>
    <%= f.number_field :step_count, required: true %>
  </div>

  <div>
    <%= required_label(f,:notes)  %>
    <%= f.text_area :notes, required: true %>
  </div>

  <div>
    <%= required_label(f,:date)  %>
    <%= f.date_field :date, required: true %>
  </div>

  <div>
    <%= f.submit "Save Macro Entry" %>
  </div>
<% end %>

<%= link_to "Back to Entries", macro_entries_path %>
